{% extends 'base.html.twig' %}

{% block title %}未完了のタスク{% endblock %}

{% block body %}
    <ul>
        {% for task in tasks %}
            <li>{{ task.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}
